.DS_Store
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.docker
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
data
*.db
*.db-journal

# Folders
/planning_docs